.prog-lang-list {
  @include display(flex);

  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  box-shadow: inset 0 1px 3px #ccc;
  background: #f9f9f9;
  border-radius: 2px;
}

.prog-icon {
  // no icon present
  font-weight: bold;
  color: #fff;
  border-radius: 100%;
  background-color: #7DC030;

  padding: .5rem;
  margin-right: 1rem;

  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include flex-shrink(0);
}

%prog-icon-common {
  color: rgba(#000, 0);
  width: 48px;
  height: 48px;

  background-size: auto 48px;
  background-repeat: no-repeat;
  background-position: center;

  // reset
  border-radius: 0;
  background-color: inherit;
}

.python {
  @extend %prog-icon-common;
  background-image: url('img/languages/python.svg');
}

.html {
  @extend %prog-icon-common;
  background-image: url('img/languages/html5.svg');
}

.javascript {
  @extend %prog-icon-common;
  background-image: url('img/languages/javascript.svg');
}

.sass {
  @extend %prog-icon-common;
  background-image: url('img/languages/sass.svg');
}

.node-js {
  @extend %prog-icon-common;
  background-image: url('img/languages/node-js.svg');
}

.perl {
  @extend %prog-icon-common;
  background-image: url('img/languages/perl.png');
}
